.wrapper {
	margin: 0 auto;
	max-width: 1431px;
	padding: 15px;
	width: 100%;
}

.main {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 15px;
	align-items: flex-start;
	z-index: 0;

	&__subpage {
		width: 100%;
	}

	@media (min-width: 768px) {
		&__subpage.main {
			flex-direction: column;
		}
	}

	@media (min-width: 1200px) {
		&__subpage.main {
			flex-direction: row;
		}
	}
}

.not-found {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 15px;
	padding: 15px;
	text-align: center;
}


@media (min-width: 768px) {
	.main {
		flex-direction: row;
	}
}
