$font-hero-large: 4rem;
$font-hero-medium: 3rem;
$font-hero-small: 2rem;

$radius: 5px;

$space-xlarge: 3em;
$space-large: 2em;
$space-medium: 1.5em;
$space-small: 1em;
$space-xsmall: 0.5em;

$font-xlarge: 2.4rem;
$font-large: 1.8rem;
$font-medium: 1.2rem;
$font-small: 1rem;
$font-xsmall: 0.8rem;
