$dark-red: #4c0c18;
$red: #5f0917;
$light-red: #a11e36;
$red-gradient: linear-gradient(0deg, $dark-red 0%, #3b0912 100%);

$gold: #c59b38;
$light-gold: #e4b340;
$gold-200: #e7c982;
$light-gold-transparent: #e4b34000;

$pure-white: #ffffff;
$gray: #777777;
$card-background: #f5f5f5;
$section-background: #eaeaea;

$gray-light: #e0e0e0;
$gray-medium: #b0b0b0;

$dark: #2c2c2c;
$pure-black: #000000;
$black-shadow: rgba(0, 0, 0, 0.8);
$gray-shadow: rgba(41, 41, 41, 0.3);

$blue-gradient: linear-gradient(90deg, rgba(41, 85, 231, 1) 0%, rgba(31, 64, 171, 1) 100%);
$blue: rgb(41, 85, 231);

$yellow-gradient: linear-gradient(90deg, rgba(183, 183, 30, 1) 0%, rgba(151, 151, 41, 1) 100%);
$yellow: rgb(183, 183, 30);

$purple-gradient: linear-gradient(90deg, rgba(177, 41, 231, 1) 0%, rgba(120, 31, 171, 1) 100%);
$purple: rgb(177, 41, 231);
 $green-gradient: linear-gradient(90deg, #29b71e 0%, #1b9724 100%);
$green: #29b71e;

$red-gradient: linear-gradient(90deg, #821224 0%, #4c0c18 100%);
$red-gradient-transparent: linear-gradient(90deg, #821224 0%, #4c0c1800 100%);

$item-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
