@use '../../styles/sizes.scss' as *;

.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
	height: 50vh;
	max-height: 800px;
	// height: clamp(400px, 60vh, 1200px);
	// padding: 1em;
	&__title {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-transform: uppercase;
		width: 100%;
		// background: linear-gradient(90deg, #eeeeee 40%, #ebebeb 60%);
		// -webkit-background-clip: text;
		// -webkit-text-fill-color: transparent;

		font-size: $font-hero-small;
		text-align: center;
		color: white;
		-webkit-user-select: none; /* Safari */
		-ms-user-select: none; /* IE 10 and IE 11 */
		user-select: none;
		&--first {
			-webkit-text-stroke: 1px white;
			background: transparent;
			color: transparent;
		}

		&--second {
			background: linear-gradient(90deg, #eeeeee 40%, #d4d4d4 60%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
	&__hero {
		position: absolute;
		height: 100%;
		max-height: 800px;
		width: 100%;
		z-index: -2;
		background-size: cover;
		background-position: center 30%;
		opacity: 0;
		// transform: scale(1.1);
		transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
		will-change: opacity, transform;

		&--active {
			opacity: 1;
			transform: scale(1);
			z-index: -2;
		}

		&--shadow {
			position: absolute;
			inset: 0;
			height: 100%;
			max-height: 800px;
			width: 100%;
			z-index: -1;
			background-color: rgba(0, 0, 0, 0.5);
		}
	}

	@keyframes slideIn {
		0% {
			opacity: 0;
			// transform: scale(1.1);
		}
		100% {
			opacity: 1;
			// transform: scale(1);
		}
	}

	// Dodajemy animację dla wychodzącego slajdu
	@keyframes slideOut {
		0% {
			opacity: 1;
			// transform: scale(1);
		}
		100% {
			opacity: 0;
			// transform: scale(0.9);
		}
	}
}

@media (min-width: 576px) {
	.header {
		&__title {
			font-size: $font-hero-medium;
		}
	}
}

@media (min-width: 768px) {
	.header {
		&__title {
			font-size: $font-hero-large;
		}
	}
}
