@use '../../styles/colors.scss' as c;
@use '../../styles/sizes.scss' as s;

.calendar-card {
	display: flex;
	flex-direction: column;
	// align-items: center;
	justify-content: center;
	min-height: 120px;
	margin: 1em 0;
	gap: 1em;

	&__box {
		position: relative;
		box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
		border-radius: s.$radius;

		overflow: hidden;
		font-size: 0.8rem;

		&--content {
			min-height: 100px;
			padding: 1em;
		}
	}

	&__date-box {
		position: relative;
		// display: flex;
		display: none;
		flex-direction: column;
		justify-content: space-between;
		text-align: center;
		align-items: center;
		min-width: 100px;
		width: 40%;
		padding: 1em;
		font-weight: bold;
		text-align: center;

		&--day {
			font-size: 1.5rem;
		}
		&--month,
		&--year,
		&--day-name {
			font-size: 1rem;
		}

		&--day-name {
			position: absolute;
			bottom: 0;

			padding: 0.3em;
			width: 100%;
			background-color: c.$light-red;
			text-transform: uppercase;
			color: c.$card-background;
			font-size: 0.7rem;
		}
	}

	&__date-info {
		display: flex;
		justify-content: space-between;
		gap: 1em;

		&--day-mobile {
			display: flex;
			flex-direction: column;
			gap: 0.5em;
			background-color: c.$light-red;
			color: c.$pure-white;
			text-align: center;
			font-weight: bold;
			padding: 0.5em 0;
		}
	}

	&__subtitle {
		display: flex;
		flex-direction: column;

		&--info {
			display: flex;
			flex-direction: row;
			gap: 0.5em;
			font-weight: 500;
			color: c.$dark;
			text-transform: uppercase;
		}
	}

	&__description {
		padding-top: 1em;
	}
}

@media (min-width: 512px) {
	.calendar-card {
		flex-direction: row;
		align-items: stretch;

		&__box {
			font-size: 0.9rem;
			width: 100%;
			&--content {
				min-width: 70%;
			}
		}

		&__date-info {
			&--day-mobile {
				display: none;
			}
		}
		&__date-box {
			display: flex;
			width: 150px;
			&--day-name {
				font-size: 0.8rem;
			}
		}
	}
}

.limited {
	max-width: 30ch;
}

@media (min-width: 768px) {
	.calendar-card {
		&__date-info {
			&--day-mobile {
				display: flex;
			}
		}
		&__date-box {
			display: none;
		}
	}
}

@media (min-width: 1100px) {
	.calendar-card {
		&__date-info {
			&--day-mobile {
				display: none;
			}
		}
		&__date-box {
			display: flex;
		}
	}
}
